@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap');


html:focus-within {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

:root {
    /* Primary */
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);

    /* Accent */
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);

    /* Neutral */
    --light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);

    --button-hover: hsl(224, 100%, 74%);

    /* font */
    --Open-sans: 'Open Sans', sans-serif;
    --Raleway: 'Raleway', sans-serif;
}

.bg-primary-400 {
    background-color: var(--Very-Dark-Blue);
}

.bg-primary-200 {
    background-color: var(--Desaturated-Blue);
}

.bg-accent-400 {
    background-color: var(--Bright-Blue);
}

.bg-accent-200 {
    background-color: var(--Moderate-Cyan);
}

.bg-accent-400 {
    color: var(--Bright-Blue);
}

.text-primary-400 {
    color: var(--Very-Dark-Blue);
}

.text-nuetral-400 {
    color: var(--light-Grayish-Blue);
}

* {
    margin: 0;
    padding: 0em;
    box-sizing: border-box;
    font-family: var(--Open-sans);
}

.Raleway {
    font-family: var(--Raleway);
}

.OpenSans {
    font-family: var(--Open-sans);
}

.font-sm {
    font-size: clamp(10px, 3vw, 12px);
    font-weight: 600;
    line-height: 1.5em;
}

.font-xl {
    font-size: clamp(15px, 3vw, 30px);
    font-weight: 800;
    line-height: 1.4em;
}

body {
    font-family: var(--Open-sans);
}

.wrapper {
    padding-left: 2.5em;
    padding-right: 0em;
}

.navbar {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 3em 2em;
}

.nav--logo {
    max-width: 7em;
}

.navbar-nav {
    margin-right: 2em;
}

.nav--items {
    display: flex;
    gap: 3em;
    cursor: pointer;
}

.nav--items>li {
    display: inline-block;
    position: relative;
    font-weight: 500 !important;
}

/* .nav--items>li:last-child {
    margin-right: 0;
  } */

.nav--items>li::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease !important;
}

.nav--items>li:hover:after {
    width: 100%;
    background: var(--Very-Dark-Blue);
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero {
    margin-bottom: 4em;
}

.hero--article,
.about-article {
    padding: 4em 0em 0em 0em;
}

.hero--article>h1 {
    padding: 0em;
}

.hero--article>p {
    margin: 0.8em 0em;
    padding-left: 0em;
    padding-right: 10em;
}

.hero--illustration,
.about--illustration {
    max-width: 100%;
}

.hero--form {
    display: flex;
    max-width: 75%;
    margin-top: 2em;
    gap: 0.8em;
}

.hero--form>input {
    padding: 0.7em;
    width: 60%;
    border: 1px solid var(--Light-Gray);
    border-radius: 4px;
}

.hero--form>button {
    border: 1px solid var(--Bright-Blue);
    border-radius: 3px;
    padding: 0.7em;
    width: 40%;
}

.about {
    background-image: url(./images//bg-curve-desktop.svg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding: 7em 3em;
    margin-top: 8em;
}

.about--article>p {
    margin: 1em 0em;
    max-width: 100%;
}

.fylo--link {
    display: flex;
    align-items: center;
}

a {
    font-size: 0.8em;
    color: var(--Moderate-Cyan);
}

.testimonial {
    background-image: url(./images/icon-quotes.svg);
    background-repeat: no-repeat;
    background-position: 2em 1em;
    padding: 3em 2em 1em 2em;
    margin-top: 3em;
    border-radius: 10px;
    max-width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.testimonial>p {
    padding-right: 0em;
    font-size: clamp(6px, 3vw, 10px);
    font-weight: 600;
    line-height: 2em;
}

.avatar--info {
    display: flex;
    gap: 0.5em;
    align-items: center;
    max-width: 75%;
    margin-top: 1em;
}

.avatar {
    max-width: 2.5em;
    border-radius: 50%;
}

.name {
    font-size: clamp(9px, 3vw, 10px);
    font-weight: 600;
}

.ess {
    font-size: clamp(6px, 3vw, 8px);
}

.subscription {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 6em 4em;
}

.subscription>div>h1 {
    font-size: clamp(14px, 3vw, 20px);
    letter-spacing: 1px;
    font-weight: 800;
    line-height: 2.5em;
}

.subscription>div>p {
    font-size: clamp(10px, 3vw, 12px);
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 2em;
}

.subscription--form {
    display: flex;
    gap: 0.6em;
    margin-left: auto;
    flex-direction: column;
    width: 63%;
    max-width: 100%;
}

.subscription--form>input {
    border: 1px solid var(--Light-Gray);
    border-radius: 4px;
    padding: 0.6em;
    max-width: 100%;
}

.subscription--form>input::-webkit-input-placeholder,
.hero--form>input {
    color: var(--Light-Gray);
    font-size: 10px;
    font-weight: 600;
}


.subscription--form>button {
    padding: 0.7em;
    max-width: 66%;
    border: 1px solid var(--Bright-Blue);
    border-radius: 3px;
    font-size: 11px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 7em 3em;
}

.footer--logo {
    width: 7em;
    margin-bottom: 2em;
}

.contacts>li>span {
    display: flex;
    gap: 1em;
}

.footer--list>li {
    font-size: clamp(10px, 3vw, 12px);
    color: var(--light-Grayish-Blue);
    font-weight: 400;
    margin: 1em 0em;
    cursor: pointer;
    transition: all 0.2s;
}

.footer--list>li:hover {
    font-size: clamp(11px, 3vw, 13px);
    font-weight: 600;
    color: var(--Desaturated-Blue)
}

button:hover{
   background: var(--button-hover); 
   cursor: pointer;
}

.icons{
    display: flex;
    gap: clamp(0.5em,3vw,1em);
}

.icons>li>i{
    border: 1px solid var(--light-Grayish-Blue);
    border-radius: 50%;
    padding: 1em;
    /* width: clamp(1em,3vw,3em); */
}

.icons>li>i:last-child{
    padding: 1em 1.2em;
}

.icons>li:nth-child(1):hover{
    color: #4267B2;
}

.icons>li:nth-child(2):hover{
    color: #1DA1F2;
}

.icons>li:nth-child(3):hover{
    color: #E1306C;
}


@media screen and (max-width: 500px) {
    .nav--logo {
        width: 6em;
    }

    br{
        display: none;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .navbar-nav {
        margin-right: 1em;
    }

    .nav--items {
        gap: 1em;
    }

    .hero {
        margin-bottom: 4em;
        padding-left: 0 !important;
    }

    .hero--illustration,
    .about--illustration {
        max-width: 16em;
        grid-row-start: 1;
    }

    .hero--article {
        grid-row-start: 2;
        padding: 4em 2em 0em 2em;
    }

    .hero--article>p {
        padding: 0;
    }

    .hero--form {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .hero--form>input {
        width: 100%;
    }

    .hero--form>button {
        width: 100%;
    }

    .about {
        align-items: center;
        background-image: url(./images/bg-curve-mobile.svg);
        background-size: cover;
        background-position-x: center;
        background-repeat: no-repeat;
        text-align: center;
    }

    .about--article {
        text-align: left;
    }

    .desc{
        grid-row-start: 2;
    }

    .about--article>h1 {
        align-self: center;
        font-size: 16px;
        font-weight: 800;
        width: 90%;
        margin: 2em auto;
    }

    .about--article>p {
        font-size: 12px;
        font-weight: 500;
        width: 100%;
    }

    .fylo--link {
        justify-content: center;
        align-items: center;
        margin: 2em 3em;
    }


    .testimonial {
        max-width: 90%;
        padding: 2em 0em 1em 2em;
    }

    .subscription,
    .footer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .subscription{
        text-align: center;
        padding: 6em 2em;
    }

    .subscription--form{
        margin-top: 2em !important;
        width: 80%;
        margin: auto;
    }

    .subscription--form>button{
        max-width: 100%;
    }

    .footer--list{
        gap: 2em;
    }

    .footer--logo{
        width: 10em;
    }

    .contact--icon{
        width: 1em;
        height: 1em;
    }

    .icons{
        display: flex;
        margin-top: 3em;
        justify-content: center;
    }

}

@media screen and (max-width: 800px) {
    .testimonial{
        max-width: 100%;
        padding: 3em 2em 1em 2em;
        max-width: 100%;
    }

    .testimonial>p{
        padding: 0;
    }

    .footer{
        grid-template-columns: 1fr;
    }

    .icons{
        justify-content: center;
    }
    
}